.navbar-dark .navbar-nav .nav-link {
	color: white;
}

.dropdown-toggle:hover {
	background-color: skyblue;
}

.navbar .navbar-brand:hover {
	color: skyblue;
}

.home-image {
	height: 350px;
	width: 550px;
	position: absolute;
	top: 15%;
	left: 30%;
}

.test {
	padding-top: 10px;
}



.temp-body {
	font-family:Arial, Helvetica, sans-serif;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
}

.app-container {
	height: 400px;
	width: 300px;
	background: #008080;;
	border-radius: 80px;
}

.temperature-display-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 55%;
}

.temperature-display {
	display: flex;
	border-radius: 30%;
	color: whitesmoke;
	height: 75px;
	width: 250px;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 70px;
	border: 3px black solid;
}

button {
	border-radius: 50px;
	height: 60px;
	width: 80px;
	font-size: 80px;
	color: grey;
	background: blanchedalmond;
	border: 7px rgb(120, 42, 165);
}

button:hover {
	background: lightcyan;
}



.button-div {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.neutral {
	background: rgb(184, 184, 184);
}

.cold {
	background: #035aa6;
}

.hot {
	background: #ff5200;
}


.home-screen {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.dashboard {
	display: flex;
	justify-content: space-between;
	margin-top: 500px;
	width: 100%;
}

.room-temp,
.date-time,
.active-rooms {
	width: 30%;
	text-align: center;
}

.room-temp table,
.active-rooms table {
	width: 100%;
	height: auto;
	border-collapse: collapse;
}

.room-temp td,
.active-rooms td {
	border: 1px solid black;
	padding: 5px;
}

.date-time {
	background-color: orangered;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	padding: 20px;
	width: fit-content;
}

.device-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px
}

.device-button {
	width: 200px;
	height: 150px;
}

.device-status {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
}

.device-name{
	font-size: calc(2rem + 1.5vw);
}